.category-badges {
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > div {
      margin-bottom: 8px;
      &:not(:nth-child(3)) {
        margin-right: 8px;
      }
    }
}

.accounts-debits-divider {
    margin: 8px 0;
    border-top: solid 1px $choco-10;
}

