.message-layout {
    position: fixed;
    right: 24px;
    top: 24px;
    display: flex;
    flex-direction: column;
    & > div {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}