.navigation {
    width: 320px;
    border-right: solid 1px $choco-20;
    height: 100%;

    &__logo {
        width: 100%;
        height: 128px;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-left: 40px;
    }

    &__logo-icon {
        
    }

    &__logo-name {
        margin-left: 8px;
    }

    &__list {
        list-style: none;
    }

    &__list-item {

    }

    &__link {
        cursor: pointer;
        text-decoration: none;
        color: $choco-90;
        display: block;
        padding: 9px 40px 13px;
        transition: all .3s;

        &:hover {
            color: $choco-50;
        }

        &_active{
            color: $fire-30;
        }
    }
}