.card {
  width: 100%;
  border-radius: 12px;
  background: white;
  padding: 0 24px 24px 24px;

   &__header {
     height: 72px;
     display: flex;
     align-items: center;
   }

   &__title {
    color: $choco-50;
   }

   &__controls {
     margin-left: auto;
   }

  &__form {
    display: flex;
    margin-bottom: 24px;
    & > * {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  &__body {
    border-top: solid 1px $choco-10;
    &_empty-state {
      padding: 0 58px 24px;
    }
  }
}