.category {
  position: relative;
  padding-left: 20px;
  @each $name, $color in $category-colours {
    &_#{$name} {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $color;
      }
    }
  }
}