.modal-enter {
    opacity: 0;
}

.modal-enter.modal-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.modal-exit {
    opacity: 1;
}

.modal-exit.modal-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}