.story {
  padding: 64px;
  .story__title {
    margin-bottom: 48px;
  }

  .story__subtitle {
    padding: 12px;
    width: 75%;
    background-color: $choco-10;
    border-radius: 8px;
  }
}

.component-container {
  padding-top: 24px;
   &__row {
     display: flex;
     flex: 0;
     flex-wrap: wrap;
      & > * {
        margin-bottom: 24px;
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
   }
}

.color-scheme {
  &__title {

  }
}

.width-30 {
  width: 30%;
}

.width-50 {
  width: 50%;
}

.width-70 {
  width: 70%;
}

.flex-wrap {
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & > div {
    margin-bottom: 8px;
    &:not(:nth-child(3)) {
      margin-right: 8px;
    }
  }
}

.divider-gap-xs {
  margin: 8px 0;
  border-top: solid 1px $choco-10;
}